---
interface Props {
  title: string;
  description: string;
  image: string;
  url?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image,
  url = "https://squid-games-website.vercel.app/",
} = Astro.props as Props;
---

<!-- Primary Meta Tags -->
<meta name="robots" content="index, follow" />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL.href} />

<!-- Open Graph / Facebook -->
<meta property="og:site_name" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta
  property="og:image"
  itemprop="image"
  content={new URL(image, Astro.site).href}
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.site).href} />
